---
import WrapperBreadCrump from "../../components/WrapperBreadCrump.svelte";
import LayoutRoot from "../../layouts/LayoutRoot.astro";
---

<LayoutRoot>
    <WrapperBreadCrump />
    <a class="btn btn-filled-primary" href="/">Home</a>
</LayoutRoot>
